{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% block body %}
<div class="container">
           <div class="d-flex justify-content-center">
               <h2 class=page-header>Contact Form</h2>
				{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
           </div>
</div>

{% endblock %}
