{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center">
<div class="alert alert-success" role="alert">
           <h2> Köszönjük szépen a kérdésedet.Válaszunkkal hamarosan keresünk a megadott e-mail címen. </h2>
		   
</div>

</div>
<div class="col text-center">
<button class="btn btn-default" onClick="window.history.back();">Új kérdés</button>
</div>
{% endblock %}
